@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "druk-wide-web";
    src: url("../fonts/DrukWideBold.ttf");
  }
}

.wrapper {
  perspective: 1200px;
}

.card {
  transform-style: preserve-3d;
  transform: rotateX(20deg) rotateY(-15deg);
}
